body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #efefef;
    color: #000;
}

header{
    width: 100%;
    height: 414px;
    background-color: #3182CE;
}

.text-header{
    width: 900px;
    position: relative;
    top: 20px;
    left: 30px;
}

.part{
    color: #fff;
    font-size: 12px;
    width: 300px;
}

.partscore{
    color: #fff;
    width: 200px;
}

.block-control{
    display: flex;
    gap: 20px;
    position: relative;
    bottom: 40px;
    left: 850px;
    width: 200px;
}

.header-input{
    border: none;
    border-radius: 10px;
}

.auth{
    color: #fff;
    font-weight: 500;
}

.mastercard {
    background-image: url(images/card/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 461.5px;
    height: 240px;

    position: relative;
    left: 280px;
    bottom: 300px;
}
.mastercard__container {
    padding: 22px 25.79px 36.69px 31px;
    width: 404.72px;
    height: 181.31px;
    display: flex;
    flex-direction: column;
    gap: 67.69px;
}
.mastercard--logo {
    position: relative;
    display: flex;
    flex-direction: row;    
    width: 404.72px;
    justify-content: end;
}
.circle--logo {
    width: 32.81px;
    height: 32.81px;
    background: rgba(255, 255, 255, 0.308);
    border-radius: 50%;
    &:last-child {
        position: absolute;
        left: 356px;
    }
}
.mastercard__item {
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.mastercard--number {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
}
.mastercard__tabs {
    display: flex;
    flex-direction: row;
    gap: 22.5px;
}
.mastercard__valid {
    display: flex;
    flex-direction: column;
}
.mastercard__valid span {
    color: #ffffff;
    font-size: 10px;
    font-weight: 400;
    &:last-child {
        font-size: 14px;
    }
}
.tranzactions-blocks {
    width: 660px;
    height: 538px;
    border-radius: 20px;
    box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px 140.5px 272.5px;
    grid-row-gap: 26px;
    position: absolute;
    top: 580px;
    left: 1250px; 
}
.tranzactions-header {
    margin-top: 28px;
    margin-left: 21px;
    margin-right: 21.5px;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
} 
.tranzactions-header span:first-child {
    color:rgba(45, 55, 72, 1);
    font-size: 18px;
    font-weight: 400;
 }
.tranzactions-calendar span:last-child {
    font-size: 14px;
    font-weight: 400;
    color: rgba(160, 174, 192, 1);
}
.tranzactions-time-text {
    font-size: 10px;
    font-weight: 400;
    color: rgba(160, 174, 192, 1);
}
.tranzactions-block-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tranzactions-block-text {
    display: flex;
    flex-direction: row;
    gap: 14px;
}
.tranzactions-block-text span {
    font-size: 14px;
    font-weight: 400;
    color: rgba(45, 55, 72, 1);
}
.tranzactions-title-text-down {
    color: rgba(160, 174, 192, 1);
    font-size: 12px;
    font-weight: 400;
}
.price-down {
    color: rgba(229, 62, 62, 1);
    font-size: 14px;
    font-weight: 400;
}
.price-up  {
    color: rgba(72, 187, 120, 1);
    font-size: 14px;
    font-weight: 400;
}
.price-midle {
    color: rgba(45, 55, 72, 1);
    font-size: 14px;
    font-weight: 400;
}
.tranzactions-block {
    margin-top: 17.5px;
    margin-left: 21px;
    margin-right: 21.5px;
    display: flex;
    flex-direction: column;
    gap: 17.5px;
}
.container-tranzaction {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.tranzactions-block-up {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar{
    position: absolute;
    top: 105px;
    left: 20px;
}

.container{
    width: 252px;
    height: 727px;
    box-shadow: 12px #000;
    background-color: #ffffff;
    border-radius: 5px;
}

.menu-block{
    position: relative;
    top: 20px;
}

.menu-list{
    list-style: none;
}

.link{
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #A0AEC0;
    margin:20px 0px;
}

.link:active{
    color: #2D3748;
}

.link:focus{
    color: #2D3748;
}

h2{
    position: relative;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #2D3748;
}

.imgs{
    margin: 40px 0;
}

.help{
    position: relative;
    left: 30px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #2D3748;
}

.docs{
    width: 186px;
    height: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #fff;
    background-color: #3182CE;
    border-radius: 8px;
    border: none;
}

.payment{
    position: absolute;
    bottom: 170px;
    left: 290px;
}

.container-payment{
    background-color: #fff;
    border-radius: 10px;
    width: 990px;
    height: 172px;
}

.payment-block{
    position: relative;
    top: 25px;
}

.varius-payment{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    color: #2D3748;
}

.varius-pay{
    display: flex;
}

.input-data{
    width: 458.5px;
    height: 65px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border: 1px solid #A0AEC0;
    border-radius: 8px;
}

.imgs-input{
    position: relative;
    left: 45px;
}

.input-redux{
    position: relative;
    right: 30px;
}

.button-plus{
    position: relative;
    bottom: 110px;
    left: 845px;
    width: 134px;
    height: 30px;
    background-color: #2D3748;
    color: #fff;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    padding: 8px;
    border: none;
    border-radius: 8px;
}

.container-bankscore{
    width: 930px;
    height: 455px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    position: absolute;
    top: 585px;
    left: 300px;
}

.block-score{
    position: relative;
    top: 10px;
    left: 10px;
    width: 700px;
}

.text-info{
    position: relative;
    top: 10px;
    left: 20px;
    font-weight: 700;
    font-size: 16px;
    margin-left: 20px;
}

.user{
    position: relative;
    top: 10px;
    left: 20px;
    font-size: 14px;
}

.block-info{
    width: 855px;
    height: 100px;
    background-color: #f3f5f8;
    color: #718096;
    border: none;
    border-radius: 20px;
    margin: 30px 20px;
}

.userinfo{
    width: 286px;
    height: 54px;
    margin: 20px;
    font-size: 12px;
}

.delete{
    width: 67px;
    height: 30px;
    color: red;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 8px;
    border: none;
}

.delete-icon{
    position: relative;
    top: 4px;
}

.redux{
    width: 130px;
    position: relative;
    left: 740px;
    bottom: 85px;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    display: flex;
    justify-content: end;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

.footer-menu{
    width: 311px;
    background-color: #F5F5F5;
    padding: 20px 40px;
    gap: 35px;
}

.footer-menu-links{
    text-decoration: none;
    color: #A0AEC0;
    font-size: 12px;
    padding: 20px;
}

/* CSS Дарины*/

.cards-showcase{
    display: flex;
    flex-direction: row;
    gap: 25px;
    position: absolute;
    top: 125px;
    left: 775px;
}

.card{
    width: 240px;
    height: 240px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.texts{
    text-align: center;
    margin-top: 50px;
}

.description{
    font-weight: 700;
    color: #2D3748;
    font-size: 10px;
}

.container-operation{
    position: absolute;
    top: 125px;
    left: 1305px;
    width: 572px;
    height: 436px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
}

.item-group{
    margin: 0 20px;
}

.top-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px;
}

.button-watch{
    width: 110px;
    height: 35px;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 400;
    border: 1px solid #3182CE;
    border-radius: 8px;
    color: #3182CE;
}

.data-operation{
    font-size: 14px;
    font-weight: 700;
    color: #2D3748;
}

.number{
    font-size: 10px;
    font-weight: 400;
    color: #2D3748;
}

.item-score{
    display: flex;
    justify-content: space-between;
    margin: 6px;
}

.more-scores{
    display: flex;
    align-items: center;
    gap: 10px;
}

.pdf-icon{
    width: 15px;
    height: 15px;
}

.money-2{
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
}

.file-format{
    color: #2D3748;
    font-size: 12px;
    font-weight: 600;
}

.card-img{
    position: relative;
    top: 20px;
    left: 84px;
}